* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h3 {
  color: rgba(255,255,255);
  margin-bottom: .75rem;
}
p {
  font-size: .9rem;
}
label {
  font-size: small;
  color: rgb(255,255,255);
}
body {
  background: rgb(52, 63, 103);
}
.navtop {
  width: 100%;
  color: rgb(155,155,155);
  background: rgb(32, 58, 117);
  border-bottom: 1px solid rgb(27, 48, 98);
  margin-bottom: 1.5rem;
}
.navtop > .container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navtop-nama {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: rgb(255,255,255);
}
.opsi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.inputan-data > form {
  border: 1px solid rgb(40, 48, 66);
  border-radius: .25rem;
  color: rgb(115,115,115);
  padding: .5rem .75rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column wrap;
  background: rgb(12,20,39);
}
.inputan-data > form > label {
  margin-bottom: .5rem;
}
.inputan-data .checkbox {
  margin-bottom: 1.5rem;
}
.inputan-data .button {
  max-width: 15rem;
  align-self: flex-start;
  margin-bottom: .25rem;
}
.inputan-data .form-masukkan {
  margin-bottom: 1rem;
}
.inputan-data.hide {
  display: none;
}
.list-book {
  border: 1px solid rgb(115,115,115);
  border-radius: .25rem;
  color: rgb(115,115,115);
  padding: .5rem .75rem;
  margin-bottom: 1rem;
}
.book {
  color: rgb(200,200,200);
  line-height: 2;
}
.book:not(:last-child) {
  border-bottom: 1px solid rgb(115,115,115);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.book .button {
  font-size: small;
  padding: .3rem .5rem;
  color: rgb(255,255,255);
  text-shadow: 0px 1px 2px rgb(0,0,0);
  margin-right: .25rem;
}
.form-masukkan {
  max-width: 400px;
  outline: none;
  border-radius: .25rem;
  border: 1px solid rgb(23,35,64);
  padding: .5rem .75rem;
  background: rgb(12,20,39);
  color: rgb(255,255,255);
}
.form-masukkan:focus {
  border-color: rgb(120, 130, 237);
}
.form-masukkan::placeholder {
  color: rgb(200,200,200);
}
.button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: .5rem .75rem;
  border-radius: .25rem;
}
.button-utama {
  background: rgb(75, 76, 86);
  color: rgb(255,255,255);
}
.button-danger {
  background: rgb(251, 4, 66);
}
.button-warning {
  background: rgb(211, 190, 127);
}
.button-success {
  background: rgb(59, 136, 92);
}
.checkbox {
  display: flex;
  font-size: small;
  align-items: center;
}
.container {
  max-width: 720px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media(min-width:768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}